
    <% if (!currentUser) {%>
        <li><a class='waves-effect waves-lighten deep-orange btn' href="/auth/login">Log In</a></li>
        <li><a class='waves-effect waves-lighten blue-grey btn' href="/auth/signup">Sign Up</a></li>
    <% } else {%>
        <li><a class='waves-effect waves-lighten deep-orange btn' href="/auth/logout">Logout</a></li>
    <% }%>



