<div class="row">
  <div class="col s12">
    <h1>Welcome to Theftmapper</h1>
    <h2> this is where an introduction and a how-to will be</h2>
  </div>
</div>
<div class="row">
  <div class="col s12 l8"><img src="/img/theftmap.png" alt="" class="responsive-img"></div>
  <div class="col s12 l4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque cum numquam pariatur. Iure, perspiciatis. Modi quo fugit beatae in quidem dolorum eius iure maxime fugiat laboriosam. Iusto vero cum saepe?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi doloremque sed itaque, placeat quidem, sequi magnam ab facere alias ratione perferendis error fuga eveniet molestias ipsa beatae consequuntur natus veritatis.</p>  
  </div>
</div>
