<div class="row valign-wrapper">
  <div class="col s12">
    <div class="row">
      <div class="col s12 center-align">
        <h1><strong>Welcome to Theftmapper</strong></h1>
        <h3>Create maps to visualize bike theft in your area</h3>
        <h5>Theftmapper offers 4 different map overlays to help visualize bike theft hotspots</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l8"><img src="/img/markers.png" alt="orange pins on a map denoting bike thefts" class="responsive-img"></div>
      <div class="col s12 l4">
        <h3><i class="medium material-icons left deep-orange-text">place</i>Map Markers</h3>
        <p>Map Markers show the locations of bikes stolen within your search radius. Set your radius between 1 & 25 miles!</p>  
      </div>
    </div>
    <div class="row">
      <div class="col s12 l4">
        <h3><i class="medium material-icons left deep-orange-text">whatshot</i>Heat Maps</h3>
        <p>Heat maps show the bike theft hot spots in your neck of the woods -- or anywhere you plan on traveling to!</p>  
      </div>
      <div class="col s12 l8"><img src="/img/heatmap.png" alt="heatmap denoting bike thefts" class="responsive-img"></div>
    </div>
    <div class="row">
      <div class="col s12 l8"><img src="/img/delaunay.png" alt="green lines on a map denoting delaunay triangulation of bike thefts" class="responsive-img"></div>
      <div class="col s12 l4">
        <h3><i class="medium material-icons left deep-orange-text">change_history</i>Delaunay</h3>
        <p>Delaunay triangles are calculated and presented as a map overlay. Each point is connected by lines to its closest neighbours, in such a way that all line parts form triangles, and do not intersect otherwise. Your bike is safest in the largest triangles.</p>  
      </div>
    </div>
    <div class="row">
      <div class="col s12 l4">
        <h3><i class="medium material-icons left deep-orange-text">multiline_chart</i>Voronoi</h3>
        <p>The Voronoi diagram of a set of points is dual to its Delaunay triangulation. In mathematics, a Voronoi diagram is a partitioning of a plane into regions based on distance to points in a specific subset of the plane. For each point there is a corresponding region consisting of all points closer to that point than to any other.</p>  
      </div>
      <div class="col s12 l8"><img src="/img/voronoi.png" alt="voronoi diagram with reddish lines" class="responsive-img"></div>
    </div>
  </div>
</div>

