<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- MATERIALIZE CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Fredericka+the+Great|Megrim" rel="stylesheet">
    <!-- PUBLIC -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper white">
                    <a href="/" class="brand-logo center">THFTMPPR</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="/maps/new">Create</a></li>
                    </ul>
                    <%- include partials/auth %>
                </div>
            </nav>
        </header>
        <main class="container">
            <%- include partials/alerts %>
            <%- body%>
        </main>
        <footer>
        
        </footer>
    </body>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- MATERIALIZE CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <!-- PUBLIC -->
    <script src="/js/script.js"></script>
</html>
    
            