body {
    background-image: url('../img/topography.png');
    background-repeat: repeat;
}

main {
    background: #fff;
    min-height: 80vh;
}

.container {
    margin-top: 1em;
    padding: auto 2em;
}

nav .brand-logo, nav ul, nav ul a, nav a {
    color: black;
}

nav .brand-logo {
    font-family: Megrim, Arial, Helvetica, sans-serif;
}

nav ul a {
    text-transform: uppercase;
}

.auth-form {
    height: 70vh;
    display: flex;
    align-content: center;
}

.flash {
    padding: 1em 0.5em;
    margin-top: 1em;
    color: white;
    font-weight: bold;
}

.alert {
    top: 5em;
    z-index: 10;
    text-align: center;
}

#map { height: 400px; width: 100%;}