<h1>MAP INDEX</h1>

  <div class="row">
<% maps.forEach( (map, i) => { %>
    <a href="/maps/<%= map.id %>">
      <div class="col s6 m6 l3">
        <div class="card">
          <div class="card-image">
            <img src="/img/theftmap.png">
            <span class="card-title"> Map <%= i + 1 %> </span>
            <a href="/maps/<%= map.id %>/edit" class="btn-floating halfway-fab waves-effect waves-light blue-grey"><i class="material-icons">edit</i></a>
          </div>
          <div class="card-content">
            <p><%= map.title %></p>
          </div>
        </div>
      </div>
    </a>
<% }) %> 
    <div class="col s6 m6 l3 scale-transition scale-in">
      <div class="card">
        <div class="card-image">
          <img src="/img/theftmap.png">
          <span class="card-title"></span>
          <a href="/maps/new" class="btn-floating halfway-fab waves-effect waves-light deep-orange"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Create a new map</p>
        </div>
      </div>
    </div>
  </div>