<!--<h1>MAP INDEX</h1>

  <div class="row">

    <div class="col s6 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="/img/theftmap.png">
          <span class="card-title">map 1</span>
        </div>
        <div class="card-content">
          <p>PLACEHOLDER</p>
        </div>
      </div>
    </div>
    <div class="col s6 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="/img/theftmap.png">
          <span class="card-title"></span>
          <a href="/maps/new" class="btn-floating halfway-fab waves-effect waves-light deep-orange"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Create a new map</p>
        </div>
      </div>
    </div>
  </div>
  -->
  <div class="row">
    <div class="col s12 m12 l8">
        <!-- map content -->
        <img class="img-responsive" src="/img/theftmap.png" alt="">
    </div>
    <div class="s12 m12 l4">
        <!-- list of data points -->
        <ul>
            <li>Stolen Bike 1 </li>
            <li>Stolen Bike 2 </li>
            <li>Stolen Bike 3 </li>
            <li>Stolen Bike 4 </li>
            <li>Stolen Bike 5 </li>
            <li>Stolen Bike 6 </li>
        </ul>
    </div>
</div>