<div class="row">
    <div class="col s12 m8">
    <h3>Create a new map</h3>
        <form action="/maps" method="POST">
            <div class="row">
                <div class="col s12 m8">
                    <input type="text" name="location" id="location" placeholder="Enter Zipcode or Address">
                    <label for="location">Search Location</label>
                </div>
                <div class="col s12 m4">
                    <button id="searchArea" class="btn-large blue-grey">Recenter map</button>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div id="map">
                        <!-- render map -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12 m4">
                            <input type="text" id="title" name="title">
                            <label for="title">Title</label>
                            <span class="helper-text">Characters left: <span id="title-length">12</span> </span>
                        </div>
                        <div class="input-field col s12 m8">
                            <textarea id="description" type="text" class="materialize-textarea" name="description"></textarea>
                            <label for="description">Description</label>
                            <span class="helper-text">A brief description of your map</span>
                        </div>
                        <div class="input-field col s12 m4">
                            <input type="number" id="radius" name="radius" min="1" max="25" value="5" step="1">
                            <label for="radius">Search Radius</label>
                            <span class="helper-text"> Min: 1 Max: 25</span>
                        </div>
                        <div class="col s12 m8">
                            <input type="submit" class="col s12 btn btn-large deep-orange" value="Find Theft Locations">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col s12 m4">
        <h4>Creating a Map</h4>
        <p><i class="material-icons">place</i>&nbsp;Enter an <strong>Zipcode, Address or Place</strong> Name</p>
        <p><i class="material-icons">place</i>&nbsp;Choose a <strong>search radius</strong> between 1 & 25 miles </p>
        <p><i class="material-icons">place</i>&nbsp;Add a <strong>title</strong> to for fast identification from your map index</p>
        <p><i class="material-icons">place</i>&nbsp;Add a <strong>description</strong> to remember why you are creating this map</p>
        <p><i class="material-icons">place</i>&nbsp;By default, your maps are <strong>private</strong>. If you would like to share them to the forthcoming public feed, head to the edit page after you create your map.</p>
    </div>
</div>

<script src="/js/mapsearch.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=key%>&region=021&callback=initMap"></script>