<div class="row">
    <div class="col s12 l8">
        <!-- map content -->
        <div id="map"></div>
        <!--<img class="responsive-img" src="/img/theftmap.png" alt="">-->
    </div>
    <div class=" col s12 l4">
        <!-- list of data points -->
        <ul>
            <% bikes.forEach( (bike) => { %>
            <li><a class="btn btn-small" href="<%= bike.value.url %>" target=_blank>See <%= bike.value.model %> on Bike Index</a></li>
            <% }) %>
        </ul>
    </div>
</div>

<script> let bikes = <%- JSON.stringify(bikes) %>;

</script>
<script src="/js/plotBikes.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=key%>&callback=initMap"></script>