<div class="row">
    <div class="col s12 m12 l8">
        <!-- map content -->
        <img class="img-responsive" src="/img/theftmap.png" alt="">
    </div>
    <div class="s12 m12 l4">
        <!-- list of data points -->
        <ul>
            <li>Stolen Bike 1 </li>
            <li>Stolen Bike 2 </li>
            <li>Stolen Bike 3 </li>
            <li>Stolen Bike 4 </li>
            <li>Stolen Bike 5 </li>
            <li>Stolen Bike 6 </li>
        </ul>
    </div>
</div>